@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

header {
    background-color: #121212;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

header a{
    width: 85px;
    height: 85px;
    scroll-behavior: smooth;
 }


.logo {
    max-width: 100%;
    max-height: 100%;
}

.navigation a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    scroll-behavior: smooth;
}

.navigation a:hover {
    color: rgb(10,95,237);
}

section {
    padding: 100px 100px;
    
}

.main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    background-color: #121212;
    background-attachment: fixed;

}

.main h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: 500;
    font-weight: bold;
    margin-left: 5px;

}

.main h2 {
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
   

}

.main .h21 {
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
    margin-left: 6px;
    padding-bottom: 0px;
   

}

.span1 {
    color: rgb(10,95,237);
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
}

.main p {
    color: aliceblue;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color:aliceblue;
    text-decoration: none;
    background-color: rgb(10,95,237);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 18px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: blue;
    transform: scale(1.1);
}


.social-icons  a{
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
    text-decoration: none;
}

.social-icons  a:hover {
    color: rgb(10,95,237);
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}


.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .me{
    left: 45%;

}

.images .me{
    max-width: 80%;
    max-height: 80%;
}

.images .shape{
   max-width: 100%;
   max-height: 100%;
}

.cards {
    background-color: #1E1E1E;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(10,95,237);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(18,18,18);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 35%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: rgb(10,95,237);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: aliceblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p{
    color: gray;
}

.projects {
    background-color: #121212;
}


.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #1E1E1E;
    border: 1px solid rgb(10,95,237);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-img{
    opacity: 0.8;
}


.project-img img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: aliceblue;
}

.project-title {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: gray;
}

.more-details:hover{
    color: rgb(10,95,237);
}

br {
    color: whitesmoke;
}

.contact {
    background-color: #1E1E1E;
  
}

.contact-d {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.0em;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer {
    background-color: #121212;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-weight: 1.3em;
    font-weight: 600;
   
}

.span2 {
    color: rgb(10,95,237);
}

@media (max-width:1025px) {
    header {
        padding: 10px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .images img{
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    
        
    }
.images .me{
    max-width: 50%;
    max-height: 50%;
    display: none;
}

.images .shape{
   max-width: 70%;
   display: none;
   max-height: 70%;
}

header a{
    width: 100px;
    height: 60px;
 }

 .logo {
    max-width: 100%;
    max-height: 100%;


    
}
    
}

@media (max-width:400px) {

   

    header a{
        width: 100px;
        height: 60px;
     }

  

    .logo {
        max-width: 100%;
        max-height: 100%;
    
    
        
    }


   
}

@media (max-width:396px) {

    header a{
        width: 80px;
        height: 60px;
     }

}

@media (max-width:376px)
{
    header a {
        width: 80px;
    }

    .navigation a {
        padding-left: 10px;
        font-size: small;
    }
}

@media (max-width:300px)
{
    header a {
        width: 40px;
    }

    .navigation a {
        padding-left: 10px;
        font-size: small;
    }
}


::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121212;; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(10,95,237); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  @media (max-width:1500px) {

    .images img{
        height: 100%;
        position: absolute;
        left: 65%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
        
    }
    
    .images:hover .shape{
        bottom: 40px;
    }
    
    .images:hover .me{
        left: 45%;
    
    }
    
    .images .me{
        max-width: 80%;
        max-height: 80%;
    }
    
    .images .shape{
       max-width: 100%;
       max-height: 100%;
    }
  }


  .cont {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
  }

  .for {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 450px;
    border-radius: 30px;

 

  }




  form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #1E1E1E;
    font-size: 16px;
    border-radius: 20px;
    color: aliceblue;
    resize: none;
    overflow-y: scroll;
    scroll-behavior:auto;
  }




  form button {
    color:aliceblue;
    text-decoration: none;
    background-color: rgb(10,95,237);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 18px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    transition: 0.7s ease;
    border: none;
}

form button:hover {
    background-color: blue;
    transform: scale(1.1);
}

